@import "tailwindcss";

/* Estilo personalizado para o input range */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #e5e7eb;
  border-radius: 8px;
  margin: 16px 0;
  outline: none;
}

/* Webkit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4f46e5;
  cursor: pointer;
  margin-top: -6px; /* Ajusta a posição vertical */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: #4f46e5;
  cursor: pointer;
}

/* Track do Firefox */
input[type="range"]::-moz-range-track {
  background: #e5e7eb;
  border-radius: 8px;
  height: 4px;
}

/* Webkit Track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #e5e7eb;
  border-radius: 8px;
}